/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL SETTINGS*/

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
	color: white;
}

/*PARTE INIZIALE*/

header {
    height: 3rem;
}


.nav-top {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding: 0 1rem;
}

.nav-top .big-btn {
    display: inline;
    background-color: #4A4A4A;
    color: white;
    padding-right: 5px;
    border-radius: 3em;
    text-decoration: none;
}

.big-btn > i {
    color: white;
    background-color: #4A4A4A;
    padding: 5px 10px;
    border-radius: 3em;
    text-decoration: none;
}

.small-btn > i {
    background-color: #4A4A4A;
    color: white;
    padding: 5px 10px;
    border-radius: 3em;
    text-decoration: none;
}

/*PARTE CENTRALE*/


main {
    height: calc(100vh - 3rem - 5rem);
    overflow-y: auto;
}

.container {
    margin-inline: auto;
	padding: 2rem 1rem 3rem;
    
}

.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: .5rem;
	row-gap: 1rem;
}

.card {
	position: relative;
}

.card img {
    display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.contents {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    padding: 2px 2px 2px 2px;
    left: 4;
    bottom: 4%;
}

/*PARTE FINALE*/

footer {
    height: 5rem;
}

.nav-bot-container {
    background-color: #222222;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: .8rem;
}

.nav-bot-left, .nav-bot-center {
    display: flex;
    cursor: pointer;
}

.icon-f {
    display: flex;
    flex-direction: column;
    align-items: center;
}

i > div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    margin: 10px;
}

.nav-bot-right > span {
    font-size: small;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2em;
    color: red;
}

.fa-chevron-up {
    margin-top: 5px;
    margin-right: 5px;
}

#green {
    color: rgb(0, 184, 0);
}

#share {
    color: rgb(255, 255, 255);
}