/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL SETTINGS*/

html {
    background-color: black;
    margin-top: 4em;
    font-family: Arial, Helvetica, sans-serif;
}

/*PARTE INIZIALE*/

.nav-top {
    justify-content: flex-end;
    position: fixed;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    z-index: 99;
    height: 2em;
}

.nav-top .big-btn {
    display: inline;
    background-color: #4A4A4A;
    color: white;
    padding-right: 5px;
    border-radius: 3em;
    text-decoration: none;
}

.big-btn > i {
    color: white;
    background-color: #4A4A4A;
    padding: 5px 10px;
    border-radius: 3em;
    text-decoration: none;
}

.small-btn > i {
    background-color: #4A4A4A;
    color: white;
    padding: 5px 10px;
    border-radius: 3em;
    text-decoration: none;
}

/*PARTE CENTRALE*/


.container {
    margin: auto;
    padding: 0.5rem;
}

section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    width: 90%;
    overflow: scroll;
    overflow-x: hidden;
    
}

.img-container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: .2rem;
}

.contents {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    padding: 2px 2px 2px 2px;
    left: 0;
    bottom: 3.3%;
}

/*PARTE FINALE*/

.nav-bot-container {
    background-color: #222222;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 5em;
    gap: 1rem;
    padding: 1rem;
    z-index: 99;
}

.nav-bot-left, .nav-bot-center {
    display: flex;
    cursor: pointer;
}

.icon-f {
    display: flex;
    flex-direction: column;
    align-items: center;
}

i > div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    margin: 10px;
}

.nav-bot-right > span {
    color: red;
}

.fa-chevron-up {
    margin-top: 5px;
    margin-right: 5px;
}

#green {
    color: green;
}